#{extends 'main.html' /}
#{set title:'BusLogicDemoPlay' /}

	<script type="text/javascript">
		function update(custId, arg) {
			if ( ! custId || custId == '')
				custId = "${currentCustomer.id}";
			window.location='/?custId=' + custId + '&' + arg;
		}
		
		function showHelp() {
			document.getElementById("HelpDiv").style.display = '';
		}
		
		function isNumber(str) {
			if (str.length == 0) {
				return false;
			}
			numdecs = 0;
			var i;
			for (i = 0; i < str.length; i++) {
				mychar = str.charAt(i);
				if ((mychar >= "0" && mychar <= "9") || mychar == "." || mychar == "$" || mychar == ",") {
					if (mychar == ".")
						numdecs++;
				}
				else 
					return false;
			}
			if (numdecs > 1) {
				return false;
			}
			return true;
		}
	</script>

#{HelpDialog /}

<h4>Orders for customer :&nbsp;#{CustomerSelect customers: customers, currentCustomer: currentCustomer /}
&nbsp;&nbsp;&nbsp;&nbsp;<font style="font-size: 8pt;"><a href="#" onclick="showHelp(); return false;">Help</a></font>
&nbsp;&nbsp;&nbsp;&nbsp;<font style="font-size: 8pt;">Play version</font></h4>

<table border="0" cellspacing="10"><tr><td valign="top">

#{if errMsg}
    <p style="border: 2px solid #FF0000; background-color: #FFDDDD; padding: 4px;">${errMsg} - 
    <a href="@{Application.index(currentCustomer.id)}">click here to refresh</a></p>
#{/if}

<table border="0" cellspacing="5">
	<tr>
		<td>
			<table border="0">
				<tr>
					<td>Name:</td>
					<td>${currentCustomer.name}</td>
				</tr>
				<tr>
					<td>Balance:</td>
					<td align="right">$${util.NumberFormat.formatMoney(currentCustomer.balance)}</td>
				</tr>
				<tr>
					<td>Credit limit:</td>
					<td align="right"> #{CustomerCreditLimit customer: currentCustomer /}</td>
				</tr>
			</table>
		</td>
		<td style="font-size: 10pt; color: #777777; width: 500px; padding-left: 40px;">
			<b>Note:</b> there is no save button. Just hit enter, or tab out, and your change will be saved.
			A few suggestions:
			<ul>
				<li>Change the quantity of an item and see how that affects the item's amount, the order's amount and, 
				if the order is not paid, the customer's balance 
				(<a href="http://www.automatedbusinesslogic.com/home/bus-logic-demo#TOC-Example:-Change-Lineitem-Quantity" target="Tutorial">what does this mean?</a>)
				<li>Check/uncheck Order paid and notice how the Customer's balance changes
				<li>Reassign an order to a different customer: if the order is not paid, this decreases the first customer's balance,
				and increases the second customer's.
				<li>Change a line item's quantity to a large number, and see how the customer's credit limit is exceeded,
				and the transaction rolled back.
			</ul>
		</td>
</table>

<p/>
<table cellpadding="3" cellspacing="0">
	#{list items:currentCustomer.purchaseOrders, as:'order'}
	<thead style="background-color: #555555; color: #DDDDFF;">
		<tr>
			<td>&nbsp;</td>
			<td nowrap style="border-right: 1px solid #AAAAAA;">Order #</td>
			<td nowrap style="border-right: 1px solid #AAAAAA;">Amount total</td>
			<td nowrap>Order paid</td>
			<td>&nbsp;</td>
		</tr>
	</thead>
		<tr valign="top" style="background-color: #E4E4E4;">
			<td style="font-size: 9pt;">
				<a href="#" onclick="if ( ! confirm('Delete this order?')) return false; update(${currentCustomer.id}, 'verb=delete&type=Order&id=${ order.id }'); return false;">Delete</a>
			</td>
			<td align="center">${ order.id }</td>
			<td align="right">$${util.NumberFormat.formatMoney(order.amountTotal) }</td>
			<td align="center"><input type="checkbox" #{if order.paid}checked#{/if} onclick="update(${currentCustomer.id}, 'verb=update&type=Order&id=${ order.id }&att=paid');" /></td>
			<td rowspan="2">
				<table cellspacing="0" cellpadding="4">
					<thead>
						<tr style="background-color: #BBBBBB;"><td>&nbsp;</td><td nowrap>Item #</td><td>Product</td><td>Quantity</td><td nowrap>Unit price</td><td>Amount</td></tr>
					</thead>
						#{list items:order.lineItems, as:'lineItem'}
						<tr>
							<td style="font-size: 9px; border: 1px solid #888888;">
								<a href="#" onclick="if ( ! confirm('Delete this line item?')) return false; update(${currentCustomer.id}, 'verb=delete&type=LineItem&id=${lineItem.id}'); return false;">Delete</a>
							</td>
							<td style="border: 1px solid #888888;">${ lineItem.id }</td>
							<td style="border: 1px solid #888888;">#{ProductSelect products: products, lineItem: lineItem, customer: currentCustomer /}</td>
							<td style="border: 1px solid #888888;">#{LineItemQuantity lineItem: lineItem, customer: currentCustomer /}</td>
							<td style="border: 1px solid #888888;">#{LineItemUnitPrice lineItem: lineItem, customer: currentCustomer /}</td>
							<td align="right" style="border: 1px solid #888888;">$${util.NumberFormat.formatMoney(lineItem.amount) }</td>
						</tr>
					
						#{/list}
						#{if order.lineItems.size() == 0}
						<tr><td colspan="6"><center><i>No line items</i></center></td></tr>
						#{/if}
				</table>
			</td>
		</tr>
		<tr><td colspan="4" valign="top">
			<input type="text" size="30" style="font-size:10pt;" value="${ order.notes }" 
				onchange="update(${currentCustomer.id}, 'verb=update&type=Order&id=${ order.id }&att=notes&value=' + escape(this.value))"
		/>
		</td></tr>
		<tr style="background-color: #CCCCCC;"><td colspan="6"><center>
			Reassign this order to customer: #{ReassignCustomerSelect customers: customers, order: order, currentCustomer: currentCustomer /}
			&nbsp;&nbsp;&nbsp;
			<a href="/?custId=${currentCustomer.id}&verb=insert&type=LineItem&id=${order.id}">Create line item</a>
		</center></td></tr>
		<tr><td colspan="5">&nbsp;</td></tr>
	#{/list}
	#{if currentCustomer.purchaseOrders.size() == 0}
		<tr><td colspan="6"><center><i>No orders</i></center></td></tr>
	#{/if}
	
	<tr>
		<td colspan="4"><a href="/?custId=${currentCustomer.id}&verb=insert&type=Order">Create new order</a></td>
		<td>
		<input type="checkbox" id="showTxSummary" #{if session.get("showTxSummary") == "true"}checked#{/if} 
				onchange="window.location = '@{Application.toggleTxSummary(currentCustomer.id)}&showTxSummary=' + this.checked; return false;"/>
		<label for="showTxSummary">Show transaction summary</label>
	</td></tr>
	
</table>

	</td><td valign="top" style="padding: 15px;">
	#{if session.get("showTxSummary") == "true"}
		#{ChangeSummary /}
	#{/if}
</td></tr></table>
